In [2]:
using CSV
using DataFrames
using Plots

In [63]:
using Pkg

In [66]:
using Missings

In [46]:
dflabor = CSV.read("146428ProjectScoreCard.csv", DataFrame);

In [47]:
dropmissing!(dflabor, :Name)

53×53 DataFrame
 Row │ Column1  Pers No.  Name                           Prior    Column5  20- ⋯
     │ String?  String?   String                         Missing  Missing  Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CE       1648      Segaar Michael                 missing  missing      ⋯
   2 │ CE       11441     Brockman Luke                  missing  missing  mis
   3 │ CE       2859      Doyle Brian                    missing  missing
   4 │ CE       15469     Sonders Jessica                missing  missing  mis
   5 │ CE       401171    Kooping Jeremy                 missing  missing      ⋯
   6 │ CE       257441    Barron Mary                    missing  missing  mis
   7 │ CE       14708     Bennitt Breanna                missing  missing  mis
   8 │ CE       50001292  Junqueira-Filho Gilberto       missing  missing  mis
   9 │ CE       11612     Shetty Rachit                  missing  missing      ⋯
  10 │ CE       50094437  Albarq Dawood                  missing  missing  mis
  11 │ CE       50095461  Li Zhongyuan                   missing  missing  mis
  ⋮  │    ⋮        ⋮                    ⋮                   ⋮        ⋮         ⋱
  44 │ CE       401171    KOOPING JEREMY                 missing  missing  mis
  45 │ CE       401201    LAGERMAN ERIC                  missing  missing  mis ⋯
  46 │ CE       404735    ANDERSON MICHAEL               missing  missing  mis
  47 │ CE       406481    NAPRUSZEWSKI JAMES             missing  missing  mis
  48 │ CE       4000302   MOSQUEDA GARZA ADRIAN GERARDO  missing  missing  mis
  49 │ CE       4000960   RANGEL VILLARREAL RAUL         missing  missing  mis ⋯
  50 │ CE       4000963   GARCIA ACOSTA ESAU             missing  missing  mis
  51 │ CE       missing   Other                          missing  missing  mis
  52 │ CE       missing   Unassigned                     missing  missing  mis
  53 │ CE       missing   Underrun                       missing  missing  mis ⋯
                                                  48 columns and 32 rows omitted

In [48]:
first(dflabor, 5)

5×53 DataFrame
 Row │ Column1  Pers No.  Name             Prior    Column5  20-Jun   Column7  ⋯
     │ String?  String?   String           Missing  Missing  Int64?   Int64?   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CE       1648      Segaar Michael   missing  missing        2      114  ⋯
   2 │ CE       11441     Brockman Luke    missing  missing  missing  missing
   3 │ CE       2859      Doyle Brian      missing  missing        2      152
   4 │ CE       15469     Sonders Jessica  missing  missing  missing  missing
   5 │ CE       401171    Kooping Jeremy   missing  missing        1       76  ⋯
                                                              46 columns omitted

In [95]:
names(dflabor)

53-element Array{String,1}:
 "Column1"
 "Pers No."
 "Name"
 "Prior"
 "Column5"
 "20-Jun"
 "Column7"
 "20-Jul"
 "Column9"
 "20-Aug"
 "Column11"
 "20-Sep"
 "Column13"
 ⋮
 ">18 Months"
 "Column43"
 "Hrs"
 "Cost (\$)"
 "Hrs_1"
 "Cost (\$)_1"
 "Hrs_2"
 "Cost (\$)_2"
 "Hrs_3"
 "Cost (\$)_3"
 "Hrs_4"
 "Cost (\$)_4"

In [50]:
dflabor[:, :Name]

53-element Array{String,1}:
 "Segaar Michael"
 "Brockman Luke"
 "Doyle Brian"
 "Sonders Jessica"
 "Kooping Jeremy"
 "Barron Mary"
 "Bennitt Breanna"
 "Junqueira-Filho Gilberto"
 "Shetty Rachit"
 "Albarq Dawood"
 "Li Zhongyuan"
 "Thomas Jacob Sunil"
 "MCE-Conveyor"
 ⋮
 "ROFRITZ TIMOTHY"
 "JONKMAN MACKENZIE"
 "KOOPING JEREMY"
 "LAGERMAN ERIC"
 "ANDERSON MICHAEL"
 "NAPRUSZEWSKI JAMES"
 "MOSQUEDA GARZA ADRIAN GERARDO"
 "RANGEL VILLARREAL RAUL"
 "GARCIA ACOSTA ESAU"
 "Other"
 "Unassigned"
 "Underrun"

In [51]:
select(dflabor, :Name)

53×1 DataFrame
 Row │ Name
     │ String
─────┼───────────────────────────────
   1 │ Segaar Michael
   2 │ Brockman Luke
   3 │ Doyle Brian
   4 │ Sonders Jessica
   5 │ Kooping Jeremy
   6 │ Barron Mary
   7 │ Bennitt Breanna
   8 │ Junqueira-Filho Gilberto
   9 │ Shetty Rachit
  10 │ Albarq Dawood
  11 │ Li Zhongyuan
  ⋮  │               ⋮
  44 │ KOOPING JEREMY
  45 │ LAGERMAN ERIC
  46 │ ANDERSON MICHAEL
  47 │ NAPRUSZEWSKI JAMES
  48 │ MOSQUEDA GARZA ADRIAN GERARDO
  49 │ RANGEL VILLARREAL RAUL
  50 │ GARCIA ACOSTA ESAU
  51 │ Other
  52 │ Unassigned
  53 │ Underrun
                      32 rows omitted

In [53]:
Resourcenames=dflabor.Name

53-element Array{String,1}:
 "Segaar Michael"
 "Brockman Luke"
 "Doyle Brian"
 "Sonders Jessica"
 "Kooping Jeremy"
 "Barron Mary"
 "Bennitt Breanna"
 "Junqueira-Filho Gilberto"
 "Shetty Rachit"
 "Albarq Dawood"
 "Li Zhongyuan"
 "Thomas Jacob Sunil"
 "MCE-Conveyor"
 ⋮
 "ROFRITZ TIMOTHY"
 "JONKMAN MACKENZIE"
 "KOOPING JEREMY"
 "LAGERMAN ERIC"
 "ANDERSON MICHAEL"
 "NAPRUSZEWSKI JAMES"
 "MOSQUEDA GARZA ADRIAN GERARDO"
 "RANGEL VILLARREAL RAUL"
 "GARCIA ACOSTA ESAU"
 "Other"
 "Unassigned"
 "Underrun"

In [54]:
dflabor[Resourcenames .== "Segaar Michael" , :]

1×53 DataFrame
 Row │ Column1  Pers No.  Name            Prior    Column5  20-Jun  Column7  2 ⋯
     │ String?  String?   String          Missing  Missing  Int64?  Int64?   I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CE       1648      Segaar Michael  missing  missing       2      114    ⋯
                                                              46 columns omitted

In [60]:
df1 = groupby(dflabor[Resourcenames .== "Segaar Michael" , :], :Name)

GroupedDataFrame with 1 group based on key: Name
First Group (1 row): Name = "Segaar Michael"
 Row │ Column1  Pers No.  Name            Prior    Column5  20-Jun  Column7  2 ⋯
     │ String?  String?   String          Missing  Missing  Int64?  Int64?   I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CE       1648      Segaar Michael  missing  missing       2      114    ⋯
                                                              46 columns omitted

In [86]:
replace!(df1,( "missing", 0))

MethodError: MethodError: no method matching replace!(::Missings.EachReplaceMissing{Missings.EachReplaceMissing{GroupedDataFrame{DataFrame},Int64},Int64}, ::Tuple{String,Int64})
Closest candidates are:
  replace!(::Any, !Matched::Pair...; count) at set.jl:448
  replace!(!Matched::Union{Function, Type}, ::Any; count) at set.jl:490

In [98]:
for col in names(dflabor)
    @show(col)
end

col = "Column1"
col = "Pers No."
col = "Name"
col = "Prior"
col = "Column5"
col = "20-Jun"
col = "Column7"
col = "20-Jul"
col = "Column9"
col = "20-Aug"
col = "Column11"
col = "20-Sep"
col = "Column13"
col = "20-Oct"
col = "Column15"
col = "20-Nov"
col = "Column17"
col = "20-Dec"
col = "Column19"
col = "21-Jan"
col = "Column21"
col = "21-Feb"
col = "Column23"
col = "21-Mar"
col = "Column25"
col = "21-Apr"
col = "Column27"
col = "21-May"
col = "Column29"
col = "21-Jun"
col = "Column31"
col = "21-Jul"
col = "Column33"
col = "21-Aug"
col = "Column35"
col = "21-Sep"
col = "Column37"
col = "21-Oct"
col = "Column39"
col = "21-Nov"
col = "Column41"
col = ">18 Months"
col = "Column43"
col = "Hrs"
col = "Cost (\$)"
col = "Hrs_1"
col = "Cost (\$)_1"
col = "Hrs_2"
col = "Cost (\$)_2"
col = "Hrs_3"
col = "Cost (\$)_3"
col = "Hrs_4"
col = "Cost (\$)_4"