In [1]:
using CSV

In [3]:
data = CSV.read("CE_SCORE.csv")

15×5 DataFrames.DataFrame. Omitted printing of 1 columns
│ Row │ Name               │ Years_Since_Hired │ Prof_exp │ Pos_Level │
│     │ String             │ Float64           │ Float64  │ Int64     │
├─────┼────────────────────┼───────────────────┼──────────┼───────────┤
│ 1   │ Rachit Shetty      │ 9.2               │ 9.2      │ 3         │
│ 2   │ Eric Puente        │ 7.8               │ 7.8      │ 3         │
│ 3   │ Randy Crawford     │ 7.2               │ 7.2      │ 3         │
│ 4   │ Ethan Reinhart     │ 7.01              │ 7.01     │ 2         │
│ 5   │ Alex Salinas       │ 5.06              │ 5.06     │ 2         │
│ 6   │ Po-Jen Shih        │ 0.44              │ 10.34    │ 3         │
│ 7   │ Sruthi             │ 0.42              │ 3.6      │ 2         │
│ 8   │ Julian Li          │ 0.0               │ 24.0     │ 4         │
│ 9   │ Jason truex        │ 0.0               │ 8.0      │ 2         │
│ 10  │ Aaron Fankhauser   │ 0.0               │ 4.5      │ 2         │
│ 11  │ Ricky Skoch        │ 0.0               │ 0.0      │ 1         │
│ 12  │ Avery Rains        │ 0.0               │ 2.5      │ 2         │
│ 13  │ Matthew Hofmeister │ 0.0               │ 4.6      │ 2         │
│ 14  │ Julita Briones     │ 0.0               │ 1.87     │ 1         │
│ 15  │ Dawood Albarq      │ 0.3               │ 2.5      │ 2         │